:root {
  --bg-color: #efefef;
  --white: #fff;
  --black: #000;
  --btn-color: #333974;
  --margin-btn: #555;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  padding: 30px;
  color: #333;
}

.container {
  display: flex;
}

.img-container {
  width: 50%;
}

.img-container img {
  width: 700px;
  margin: 0 auto;
}

.app-container {
  margin-bottom: 300px;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: var(--btn-color);
  color: var(--white);
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  margin-right: 10px;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--margin-btn);
}

.todo {
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s ease, transform 0.5s ease, opacity 0.5s ease;
  will-change: transform, opacity, background-color;
}

.content {
  width: 500px;
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #e75b5b;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  width: 100%;
}

.filter, .search {
  border-bottom: 1px solid var(--margin-btn);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

/* Animação de conclusão de tarefa (verde) */
.todo.completed {
  background-color: #5cb85c;
  transition: background-color 1s ease;
}

/* Animação de remoção de tarefa (vermelho e desaparecendo) */
.todo.removing {
  background-color: #e75b5b;
  opacity: 0;
  transform: translateX(100%); /* Tarefa desliza para a direita */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Efeitos de hover para os botões */
button.complete {
  background-color: #5cb85c;
}

button.remove {
  background-color: #e75b5b;
}

button.complete:hover {
  background-color: #4cae4c;
}

button.remove:hover {
  background-color: #d32f2f;
}
